body {

    font-size: 20px;
    background-color: rgb(222, 217, 237);
}

.logo img {
    right: 5px;
    width: 151px;
    position: fixed;
    top: 9px;
    bottom: 5px;
    z-index: 1!important;
}
@media(max-width:900px){
    .logo img{
        display: none;
    }
}
.marqu {
    background-color: rgb(131, 155, 214);
    font-size: 20px;
}

.head header {
    position: fixed;
    background-color: rgb(222, 217, 237);
    top: 0px;
    width: 99%;
    margin-top: -1rem !important;
    z-index: 1;
}

.headline {
    text-align: center;
    text-shadow: 2px 1px;
    letter-spacing: 2px;

}

.navhead ul {
    padding: 5px 1px;
    text-align: right;
    font-size: 22px;
    background-color: rgb(89, 124, 214);
    border: 2px solid aliceblue;
    width: 100%;
    overflow: hidden;
    list-style-type: none;
    border-radius: 5px;
}

.navhead li {
    float: right;
    padding-left: 2%;
}

.navhead a:visited {
    color: white;
}

.navhead .dropbtn {
    display: inline-block;
    background-color: rgb(89, 124, 214);
    border: 0;
    font-size: 22px;
}

.navhead .dropbtn:hover {
    background-color: rgb(89, 124, 214);
    border: 0;
    color: white;
    cursor: pointer;
}

.navhead .dropdown-contant {
    display: none;
    z-index: 1;
    border-radius: 10px;
    background-color: white;
    position: absolute;

}

.navhead .dropdown-contant img {
    display: block;
    color: black;
    float: left;
    /* margin-top: 15px; */
    margin-left: 10px;
    width: 20px;
    height: auto;
}

.navhead .dropdown:hover .dropdown-contant  {
    display: block;
}

.navhead a:hover,.button1:hover,.buttonLevel:hover {
    text-align: left;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 3px red;
}

.navhead a {
    text-decoration: none;
    margin-left: 20px;
}
.dropdown-contant .pho img{
    margin-top: 5px;
}
.btnsearch {
    height: 20px;
    width: 150px;
    transition: width .35s ease-in-out;
}
.btnsearch:focus,.btnsearch button{
    width: 190px;
}

/* start levels#########################*/
.buttonLevel{
    background-color: rgb(89, 124, 214);
    border: none;
    font-size: 23px;
    cursor: pointer;
    color: white;
}
.buttonLevel:hover{
    color:black;
}
.ImgRecordLevel{
    position: relative;

}
.ImgRecordLevel img{
    position: absolute;
    left: 0;
}
.login-contentlevel{
    position: relative;
    width: 80%;
    height: 1000px;
    background-color: white;
    left: 10%;
}
.ContainerLevel input[type=text],
.ContainerLevel input[type=password]{
    padding: 12px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: right;
    
}
.information1{
    position: absolute;
    right: 20px;
    top: 30px;
} 
.information2{
    position: absolute;
    left: 20px;
    top: 30px;
}
.information3{
    position: absolute;
    left: 20px;
    top: 6rem;
}
.information4{
    position: absolute;
    right: 20px;
    top: 6rem;
}

/* Full-width input fields */
.container1 input[type=text],
.container1 input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    /* make text whitch in the input to be right */
    text-align: right;
}

/* Set a style for تسجيل الدخول   تسجيل  */
.button1,
.btnLogin {
    background-color: rgb(89, 124, 214);
    color: white;
    position: relative;
    top: -5px;
    margin: 2px 0;
    border: none;
    font-size: 23px;
    cursor: pointer;
    width: 100%;
}

.button1:hover {
    color: #000;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    border-radius: 10px;
    margin-right: 5px;
    background-color: rgb(131, 155, 214);
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
img.myphoto {
    width: 25%;
    border-radius: 50%;
}

.container1 {
    padding: 16px;
}

span.psw {
    float: left;
    padding-top: 16px;
}

/* The login-you (background) */
.login-you {
    display: none;
    /* Hidden by default */
    position:fixed;
    /* Stay in place */
    text-align: end;
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height:100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* login-you Content/Box */
.login-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}


.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: animatezoom 1.3s;
}

@keyframes animatezoom {
    from {
        transform: scale(0);
        background-color: #ada3d1;
    }

    to {
        transform: scale(1);
        background-color: white;
    }
}

/* Change styles for span and cancel button on extra small screens */
@media(max-width: 1000px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

/**  start main list                 */
.main_list {
    float: right;
    width: 19%;
    margin-top: 7px;
    border-radius: 15px;
    border-left: 5px solid rgb(70, 14, 14);
    /* border-bottom: 5px solid rgb(70, 14, 14); */
    border-top: 5px solid rgb(70, 14, 14);
    clear: both;
}

.main_list a {
    text-decoration: none;
    text-align: right;
    font-size: 22px;
}

.main_list .Hd1 h6 {
    border: 2px solid black;
    width: 98%;
    border-radius: 7px;
    text-align: center;
    float: right;
    color: black;
    background-color: rgb(89, 124, 214);
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 7px 1px;
    font-size: 22px;
}

.main_list p {
    border: 2px solid black;
    float: right;
    width: 98%;
    padding: 7px 1px;
    border-radius: 7px;
    text-align: center;
    margin-top: -7px;
    height: 28px;
}

/* make < link > to link */
.main_list p a:hover:after {
    content: " > ";
    color: black;
    padding: 7px 1px;
    font-size: 25px;

}

.main_list p a:hover:before {
    content: " < ";
    color: black;
    font-size: 25px;

}

/*hover use when you put the pointer to contant##################*/
.main_list p:hover>a {

    border: 3px solid black;
    float: right;
    padding: 7px 1px;
    color: white;
    width: 98%;
    border-radius: 7px;
    font-size: 24px;
    text-align: center;
    margin-top: -7px;
    height: 30px;
    background-color: rgb(89, 124, 214);
}

/*       end main list       #############################  */

.photo_school img {
    width: 49%;
    position: absolute;
    right: 20%;
    margin-top: 7px;
    height: 530px;
    animation: left-and-right 5s linear infinite;
    border-radius: 5px 11px;
}

@keyframes left-and-right {

    0%,
    100% {

        left: 29%;
    }

    50% {
        left: 31%;
    }
}

/* align for tachers ###################################*/
.tachers {
    width: 29%;
    height: auto;
    float: left;
    margin-top: 3px;
    
}

.tachers .alText h6 {
    border: 2px solid black;
    width: 98%;
    font-size: 20px;
    color: black;
    text-align: center;
    margin-top: 8px;
    padding: 7px 1px;
    background-color: rgb(89, 124, 214);

}

/* list the tacher#################################*/
.Tacher1 {
    overflow: auto;
    border: 2px solid black;
    left: 2px;
    border-radius: 7px;
    text-align: end;
    width: 98%;
    margin-top: -38px;
}

.Tacher1 p {
    margin-right: 11px;
}

.Tacher1:hover {
    overflow: auto;
    border: 3px solid black;
    left: 2px;
    text-shadow: 0 0 5px rgb(203, 236, 57);
    text-align: end;
    border-radius: 5px;
    color: white;
    background-color: rgb(89, 124, 214);
    box-shadow: 0 0 10px 2px black;
    width: 98%;
    margin-top: -38px;
}

.Tacher1 img {
    float: left;
    top: 0;
    border-radius: 0px 15px;
    margin-left: 11px;
}

.Tacher2 {
    overflow: auto;
    border: 2px solid black;
    left: 2px;
    text-align: right;
    border-radius: 5px;
    width: 98%;
    margin-top: 5px;
    padding-bottom: 7px;
}

.Tacher2 p {
    margin-right: 11px;
}

.Tacher2:hover{
    text-shadow: 0 0 5px rgb(203, 236, 57);
    overflow: auto;
    border: 3px solid black;
    left: 2px;
    border-radius: 5px;
    text-align: right;
    color: white;
    background-color: rgb(89, 124, 214);
    box-shadow: 0 0 10px 2px black;
    width: 98%;
    padding-bottom: 7px;
}

.Tacher2 img {
    float: left;
    top: 0;
    border-radius: 0% 15px;
    margin-left: 11px;
}

.Tacher3 {
    overflow: auto;
    border: 2px solid black;
    left: 2px;
    border-radius: 7px;
    text-align: right;
    width: 98%;
    margin-top: 5px;
}

.Tacher3 img {
    float: left;
    border-radius: 0% 15px;
    margin-left: 11px;
}

.Tacher3:hover {
    overflow: auto;
    border: 3px solid black;
    left: 2px;
    color: white;
    background-color: rgb(89, 124, 214);
    box-shadow: 0 0 10px 2px black;
    text-align: right;
    width: 98%;
    padding-bottom: 7px;
    margin-top: 5px;
    text-shadow: 0 0 5px rgb(203, 236, 57);
}

.Tacher3 p {
    margin-right: 11px;
}
.tchphoto {
    transform: scaleX(1);
    box-shadow: 0 0 15px 2px red;
}
/*  started###############################*/
.wordman a {
    width: 51.4%;
    position: absolute;
    right: 19.5%;
    left: 29%;
    margin-top: -25px;
    height: 25px;
    color: black;
    text-decoration: none;
    text-align: center;
    border: 2px solid black;
    background-color: rgb(89, 124, 214);
}
.wordman a:hover {
    color: white;
}

/*pointer go to top ############################################ */
.pointer button a,
button>a:visited {
    position: fixed;
    right: 2%;
    z-index: 1;
    bottom: 20px;
    width: 40px;
    height: 50px;
    text-decoration: none;
    font-size: 38px;
    background-color: unset;
    cursor: pointer;
    border-radius: 80px;
}

/*word's manager ##############################################  */
.wordmanger {
    background-color: rgb(225, 222, 231);
    width: 99%;
    margin-left: 0;
    padding: 10px;
    padding-top: 20px;
    margin-top: 40rem;
    font-size: 25px;
    border: 2px solid black;
    text-align: right;
    user-select: none;
}
/*photo  ###############################################*/
.photo {
    background-color: rgb(225, 222, 231);
    position: absolute;
    width: 99%;
    height: 100rem;
    border: 2px solid black;
    margin-top: 5rem;
    margin-bottom: 4rem;
    /* padding-left: 4%; */
}

.photo p {
    text-align: center;
}

.photo img {
    width: 29%;
    height: 21rem;
    filter: brightness(1.1);
    margin-left: 2%;
    border-radius: 40px;
    padding: 7px;
    margin-top: 8rem;
    box-shadow: 0 0 7px 3px rgb(131, 155, 214);
}

.photo img:hover {
 box-shadow: 0 0 2px 7px rgb(131, 155, 214);
 transform: scaleX(1.01);   
}

/* difine school           ################################*/
.difine-school {
    width: 99%;
    border: 2px solid black;
    margin-top: 109rem;
    padding: 10px;
    background-color: rgb(225, 222, 231);
    text-align: right;
    user-select: none;
}

.difine-school .titl {
    width: 99%;
    font: bold;
    text-align: center;
}

/* result     ####################################################*/
.result {
    width: 99%;
    padding: 10px;
    margin-top: 3rem;
    background-color: rgb(225, 222, 231);
    border: 2px solid black;
    
}

.result p {
    text-align: center;
    font: bold;
}

.result table,
td,
th {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border-collapse: collapse;
    border: 2px solid black;
    width: 60%;
    margin-left: 20%;
}
/* table the lactuers ######################################*/
.table_lactuer {
    border: 2px solid black;
    margin-top: 3rem;
    background-color: rgb(225, 222, 231);
}

.table_lactuer p {
    text-align: center;
}

.table_lactuer table.tab2,
td,
th {
    margin-bottom: 50px;
    border-collapse: collapse;
    border: 2px solid black;
    text-align: end;
    width: 48.5%;
}

.table_lactuer table.tab3,
td,
th {
    margin-bottom: 50px;
    border-collapse: collapse;
    border: 2px solid black;
    text-align: end;
    width: 48.5%;
}

.table_lactuer table.tab3 {
    position: relative;
    top: -16.4rem;
    float: right;
}

@media (max-width:1300px) {
    table.tab2 {
        margin-bottom: 500px !important;
        margin-left: 20%;
    }

    table.tab3 {
        display: none;
    }

    .wordman a ,.wordman a:hover{
        margin-top: -5rem;
    }
    .Tacher3{
        border-bottom: none!important;
        border-radius: 10px 10px 0 0;
       }
}
/*hiden information tacher3#########*/
@media (max-width:1000px){
    
    .Tacher3 span{
        visibility:collapse;
    }
    .Tacher3:hover {
        background-color:rgb(222, 217, 237);
    }
    .wordman a,.wordman a:hover {
        margin-top: -8rem;
    }
}

@media (min-width:3333px) {
    .navFooter {
        padding-bottom: 5px;
        margin-bottom: 50rem;
    }
    .photo{
        padding-left: 30%;
    }
    .photo img{
        width: 12%;
    }

    footer ul {
        font-size: 50px;
        margin-right: 300px;
    }
}
/*libary    #################################################*/
.library {
    border: 2px solid black;
    margin-top: 3rem;
    background-color: rgb(225, 222, 231);
}

.library p {
    text-align: center;
    padding-bottom: 400px;
}
/* slider ####################################################################*/
.computer-labor {
    margin-top: 4rem;
    border: 2px solid black;
    background-color: rgb(225, 222, 231);
}

.computer-labor pre {
    padding-bottom: 5px;
    padding-left: 50%;
}
.slider ,a{
    max-width: 1200px;
    position: relative;
    margin: auto;
    text-decoration: none;
    margin-bottom: 5rem;
}
.slider a:hover{
    background-color: #858d97;
    border-radius: 20%;
    
}
.slider img{
    width: 100%;
    height: 800px;
}
.slide-img{
    box-shadow: 0 0 22px 5px rgb(158, 178, 228);
    display: none;
    /* border: 2px solid lightskyblue; */
}
.slider .prev{
    position:absolute;
    top: 50%;
    right: 2px;
    font-size: 35px;
    margin-top: 5rem;
}
 .next{
    position:absolute;
    top: 50%;
    left: 2px;
    font-size: 35px;
    margin-top: 5rem;
   
}
.dot{
    background-color: rgb(138, 137, 137);
    border-radius: 22px;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0 0px;
}
.dot:hover,.active {
    background-color: #242222;
}

/*footer start #################################################*/
footer {
    padding-bottom: 250px;
    border-radius: 2px;
    background-color: #242222;
    width: 100%;
    box-shadow: 0px 0px 22px 2px black;
    position: relative;
}
.navFooter ul {
    float: left;
    display: flex;
}

.navFooter ul li {
    list-style-type: none;
}

.navFooter ul li a {
    text-decoration: none;
    color: white;
}
.navFooter .list1,
.list2,
.list3 {
    text-align: right;
}
.list1{
    position: absolute;
    right: 5%;
}
.list2{
    position: absolute;
    right: 40%;
}
.list3{
    position: absolute;
    left: 15%;
}
.dropdown-contant {
    background-color: none !important;
}

.navFooter p:hover {
    transform: scaleX(1.2);
}

.navhead ul li:hover {
    
}


/**/
